.ant-layout-header {
    background-color: bisque;
    /*padding: 20px 20px;*/
    text-align: center;
}

.ant-layout-content {
    background-color: white;
    padding: 10px 20px;
}

.ant-card {
    margin: 10px 0px;
}
